*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1{
      text-align: center;
  }
  h4{
      text-align: center;
  }
  .main{
      background-color: aquamarine;
      padding: 5px;
      width: 1000px;
      height: 400px;
      margin: 5px;
      border-radius: 5%;
      flex-wrap: wrap;
  }
  .a{
      margin: 5px;
     background-color: rgb(252, 252, 252);
     padding: 3px;
     width: 200px;
     height: 100px;
     border-radius: 5%;
     float: left;
  }
  .aa{
      padding: 5px;
  }
  .aaa{
      border-radius: 10px;
      border:none;
      height: 1px;
      background-color: rgb(0, 0, 3);
  }
  .aaaa{
      width:50px;
      height: 15px;
      text-decoration: none;
      border: 1px solid rgb(56, 93, 196);
      margin: 5px;
  }
  a{
      text-decoration: none;
      color: black;
  }
.aaaaa{
    color: rgb(133, 133, 133);
    float: right;
}
.s{
    margin: 5px;
    background-color: rgb(252, 252, 252);
    padding: 3px;
    width: 200px;
    height: 100px;
    border-radius: 5%;
    float: left;
}
.d{
    margin: 5px;
    background-color: rgb(252, 252, 252);
    padding: 3px;
    width: 200px;
    height: 100px;
    border-radius: 5%;
    float: left;
}
.main2{ 
    flex: 0 0 calc(25% - 15px);
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.main1{
    flex: 0 0 calc(25% - 15px);
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}
.f1{
    margin: 5px;
    background-color: rgb(252, 252, 252);
    padding: 3px;
    width: 200px;
    height: 100px;
    border-radius: 5%;
    float: left;
}
.f2{
    margin: 5px;
    background-color: rgb(252, 252, 252);
    padding: 3px;
    width: 200px;
    height: 100px;
    border-radius: 5%;
    float: left;
}