*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cicle{
    height: 200px;
    width: 200px;
    background: rgb(255, 238, 0);
    position: relative;
    top: 600px;
    border-radius: 50%;
}
.box{
    width: 300px;
    height: 200px;
    background-color: rgb(99, 99, 99);
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
}
.box1{
    position: static;
}
.box2{
    position: absolute;
    top: 0px;
    left: 960px;
}
.box3{
    position: fixed;
    top: 0;
    left: 250px;
}
.box4{
    position: sticky;
    top: 0;
    left: 500px;
}
.insta{
    position: relative;
    top: -100px;
    left: 100px;
    border-radius: 30%;
    width: 300px;
    height: 300px;
    background: linear-gradient(45deg, rgb(255,169,0), rgb(206, 0, 255), rgb(0,143,255));
}
.insta .fon{
    position: absolute;
    width: 230px;
    height: 230px;
    background: transparent;
    border: 20px solid white;
    border-radius: 30%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.car{
    padding: 40px;
    display: flex;
    justify-content: center;
}
.insta .circle{
    position: absolute;
    width: 130px;
    height: 130px;
    background: transparent;
    border: 20px solid white;
    border-radius: 50%;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
}
.insta .circle2{
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 20px solid white;
    background: white;
    border-radius: 50%;
    top: -132px;
    bottom: 1px;
    right: 0;
    left: 120px;
    margin: auto;
}
.flag{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    left: 200px;
    position: absolute;
    top: 500px;
}
.circle5{
    height: 50px;
    width: 50px;
    background:brown;
    border-radius: 50%;
    margin: 75px;
}