*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    color: white;
}
ul{
    font-size: 0;
}
ul li{
    font-size: 14px;
    display: inline-block;
    width: 90px;
    padding: 0;
    margin: 0;
}
b{
    font-size: 26px;
}
h5{
    font-size: 16px;
}
.bloc{
    width: 100%;
    background-color: black;
}
.bloc1{
    margin: 15px;
    width: 300px;
    border: 2px solid black;
}
main{
    height: 1000px;
    width: 1000px;
    margin: 50px;
}
.bloc2{
    margin: 15px;
    width: 300px;
    border: 2px solid black;
}
.bloc3{
    margin: 15px;
    width: 300px;
    border: 2px solid black;
}
.bloc4{
    margin: 15px;
    width: 300px;
    border: 2px solid black;
}
.bloc5{
    margin: 15px;
    width: 300px;
    border: 2px solid black;
}
.bloks{
    justify-content: space-between;
    display: flex;
}
