*{ padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
body{ 
background: black; 
color: white; 
} 
nav{ 
margin: 0; 
background: violet; 
} 
    
nav ul{ 
padding:0; 
margin:0; 
list-style: none; 
position: relative; 
} 
nav ul ul li{ 
margin: 0px -7px 0 0; 
display:inline-block; 
background-color: #E64A19; 
} 
nav a { 
display:block; 
padding:0 10px; 
color:#FFF; 
font-size:20px; 
line-height: 60px; 
text-decoration:none; 
} 
nav a:hover { 
background-color: #390bdd; 
} 
a{ 
text-decoration: none; 
} 
li{ 
list-style: none; 
} 
h1{ 
margin-top: 50px; 
text-align: center;
} 
p{
text-align: center; 
} 
li:hover{ 
display: block; 
} 

