*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: gray;
    color: white;
    background-size: cover;  
    height: 10vh;
    padding:0;
    margin:0;
}
h1{
    font-size: 40px;
}
.center{
    text-align: center;

}
.container{
    margin: 10px;
    width: 99%;
}
nav {
    margin: 100px 0;
    background-color: #E64A19;
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding:0;
    position: relative;
    }

nav ul li{
    margin: 0px -7px 0 0;
    display: inline-block ;
    background-color: #E64A19;
}
nav a {
    display:block;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}


nav ul li:hover > ul {
    display:inherit;
}
nav ul ul li {
    min-width:170px;
    float:none;
    position: relative;
}
nav ul ul ul {
    top:0;
    left:100%;
}