*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(file:///E:/2/%D0%9D%D0%B8%D0%BA%D0%B8%D1%82%D0%B0/30.10/%D0%91%D0%B5%D0%B7%20%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bloc{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1000px;
}
.blox{
    width: 300px;
    height: 500px;

}
.blov{
    width: 200px;
    height: 500px;
}
a{
    text-decoration: none;
    display: block;
    border-radius: 50%;
    border: 2px solid black;
    width: 30px;
    height: 30px;
}
a:hover{
    background-color: brown;
}
h3{
    white-space: nowrap;
    float: none;
}
.tef{
    width: 200px;
    height: 500;
    display: flex;
    justify-content: space-between;
}
main .bloc > a{
    position: relative;
}
main .bloc > a::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px dashed currentColor;
}